html{
    height: 100%;
}
body{
    height: 100%;
    padding:0px;
    margin: 0px;
    background: #c6004d ;
}
header{
    width: 1080px;
    height: 80px;
    position: relative;
}

header > div.title{
    position: absolute;
    left: 30px;
    top: 22px;
    width: 240px;
    height: 36px;
    line-height: 36px;

    font-family: 'S-Core Dream';
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}
header > img{
    position: relative;
    left: 285px;
    top: 15px;
    width: 190px;
    height: 50px;
}

header > div.user{
    position: absolute;
    right: 30px;
    top: 25px;
    width: 104px;
    height: 30px;

    font-family: 'S-Core Dream';
    font-weight: 600;
    font-size: 23px;
    font-style: normal;
    color: #FFFFFF;
}

header > div.title > span,
header > div.user > span{
    font-weight: 200;
}

section.main{
    width: 1080px;
    height: 640px;
    position: relative;
}

section > div.menu{
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 250px;
    height: 640px;
    padding-top: 32px;
    
    box-sizing: border-box;   
    z-index: 1; 
}

section > div.menu > div.menu-item{
    width: 250px;
    height: 69px;
    margin-bottom: 9px;

}
section > div.contents {
    position: relative;
    float: right;
    width: 830px;
    height: 640px;
    right: 0px;
    bottom: 0px;

    background: white;
    border-radius: 30px 0px 0px 0px;
}

section > div.menu > div.menu-item > a.inner{
    display: block;
    text-decoration: none;
    width: 235px;
    height: 72px;

    box-sizing: border-box;
    border-radius: 30px 0px;
    margin-left: 30px;
    padding: 20px 82px 23px 30px;
    

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
section > div.menu > div.menu-item > a.inner.active{
    background:#7d7d7d;
}
section > div.contents > div.name{
    position: absolute;
    width: 93px;
    height: 29px;
    top: 50px;
    left: 50px;
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
}
section > div.contents > div.name > span{    
    font-weight: 300;
}

section > div.contents > div.email {
    position: absolute;
    width: 329px;
    height: 18px;
    top:95px;
    left: 50px;
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

section > div.contents > div.innercontent{
    position: absolute;
    display: inline;
    left: 58px;
    bottom: 74px;
    width: 722px;
    height: 408px;
    
}
section > div.contents > div.innercontent > div.rec{
    width: 228px;
    height: 408px;
    border-radius: 13px;
    float: left;
}
section > div.contents > div.innercontent > div.rec.first{
    background: #FFCDCD;
}

section > div.contents > div.innercontent > div.rec.second{
    background: #FFC7BB;
    margin-left: 19px;
    margin-right: 19px;

}

section > div.contents > div.innercontent > div.rec.third{

    background: #E3ADC2;
}

section > div.contents > div.innercontent > div.rec > img{
    padding: 88px 64px 51px 64px;
}
section > div.contents > div.innercontent > div.rec > div.text1,
section > div.contents > div.innercontent > div.rec > div.text4,
section > div.contents > div.innercontent > div.rec > div.text7{
    margin-left: 21px;
    margin-bottom: 13px;

    width: 166px;
    height: 24px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: black;
}
section > div.contents > div.innercontent > div.rec > div.text2,
section > div.contents > div.innercontent > div.rec > div.text5,
section > div.contents > div.innercontent > div.rec > div.text8{
    margin-left: 21px;
    margin-bottom: 7px;

    width: 186px;
    height: 49px;

    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
}
section > div.contents > div.innercontent > div.rec > div.text3,
section > div.contents > div.innercontent > div.rec > div.text6{
    padding: 6px 16px 5px 16px;
    width: 76px;
    height: 18px;
    margin-left: 22px;
    background: #FFFFFF;
    border-radius: 13px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: black;
}
section > div.contents > div.innercontent > div.rec > div.text3 > span,
section > div.contents > div.innercontent > div.rec > div.text6 > span{
    color: #C6004D;
}

div.contents > div.Cname {
    margin-top: 50px;
    margin-left: 50px;
    font-family: S-Core Dream;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

}
div.contents > div.detail{
    margin-top: 16px;
    margin-left: 50px;
    font-family: S-Core Dream;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}
div.contents > div.area{
    height: 325px;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
}

div.contents > div.area > div.area1{
    font-family: NanumBarunGothic;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}


div.contents > div.area-content1 {
    border-radius: 13px;
    border: 1px solid #000000;
    height: 37px;
    width: 350px;

}

div.btn{
    height: 65px;
    width: 325px;
    margin-left: 252px;
    margin-top: 44px;
    border-radius: 7px;
    padding: 21px 95px 20px 95px;
    background-color: #C6004D;
    box-sizing: border-box;

    font-family: S-Core Dream;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: white;
}
div.data{
    margin-left: 50px;
    margin-top: 77px;
    font-family: S-Core Dream;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    
}
div.data1{
    float: left;
    margin-left: 50px;
    width: 760px;
    height: 60px;
}
diva.data > div.a1{
    height: 640px;
    width: 830px;
    left: 250px;
    top: 80px;
    border-radius: 30px 0px 0px 0px;
    border: 1px solid #C6004D;
}